{% extends "base.html" %}

{% load staticfiles %}



{% block contents %}

<br>
<br>


<br>

<div class="content">
  <div class="row justify-content-around">
    <div class="col-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Alumnos de {{ request.user.first_name }} {{ request.user.last_name }} </th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          <tr class="student_row">
            <td>
              <span class="student_fullname">{{ student.user.first_name }} {{ student.user.last_name }} </span>
              <span class="d-none student_username">{{ student.user.username }}</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-4">

      <h4>Expediente de <span id="title_student">[seleccione alumno]</span></h4>
      <br>
      <div id="academic_record" class="academic_record_disabled">
        <input type="hidden" id="hidden_student">
        <input type="hidden" id="hidden_thesis">
        <div class="row">
          <div class="col-1"></div>
          <div class="col">
            <strong>Asignatura 1: </strong>
          </div>
          <div class="col" id="subject_1"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-1"></div>
          <div class="col">
            <strong>Asignatura 2: </strong>
          </div>
          <div class="col" id="subject_2"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-1"></div>
          <div class="col">
            <strong>Asignatura 3: </strong>
          </div>
          <div class="col" id="subject_3"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-1"></div>
          <div class="col">
            <strong>Tesis:</strong>
          </div>
          <div class="col">
            <strong id="tesis_val"></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="validateModal" tabindex="-1" role="dialog" aria-labelledby="validateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="validateModalLabel">Validar tesis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Selecciona el documento de la tesis para contrastarlo con el registrado en la blockchain</p>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="thesis">
          <label class="custom-file-label" for="thesis">Selecciona el documento con la tesis</label>
        </div>
        <br>
        <input class="btn btn-primary mt-4 float-right" id="thesis_button" type="submit" value="Comprobar" disabled>
        <br>
        <div><h4 class="text-center" id="validation_result" ></h4></div>
      </div>
    </div>
  </div>
</div>

<script>


  $(".student_row").click(function(event) {
      
    
    $(".overlay").fadeIn( "fast" );
    student_username = $(this).find(".student_username").text();
    student_fullname = $(this).find(".student_fullname").text();
    console.log("student_username->" + student_username);

    $("#title_student").text(student_fullname);

    $("#hidden_student").val(student_username);

    $.ajax({
      url: '/get_student_info/' + student_username,
      type: 'GET',
    })
    .done(function(data) {
      console.log("success");
      $(".overlay").fadeOut( "fast" );
      console.log(data);

      $("#academic_record").removeClass('academic_record_disabled');
      for (var i = 1; i <= data['grades'].length; i++) {
        var grade = data['grades'][i-1];
        if(grade == -1) {
          var new_html = '';
          new_html += '<form action="{% url "add_grade" %}" method="post">\n';
          new_html += "{% csrf_token %}\n";
          new_html += '<input type="hidden" name="subject_number" value="' + (i-1) + '">\n';
          new_html += '<input type="hidden" name="student_username" value="' + student_username + '">\n';
          new_html += '<div class="form-row">\n';
          new_html += '<div class="col-4"><input class="mw-100" type="number" name="grade_value" required></div>\n';
          new_html += '<div class="col-1"></div>\n';
          new_html += '<div class="col-6"><input class="btn btn-primary" type="submit" value="Calificar"></div>\n';
          new_html += '</div>\n';
          new_html += '</form>\n';
          $("#subject_" + i).html(new_html);
        } else {
          $("#subject_" + i).text(grade);
        }
      }

      if(data['degree_obtained']) {
        $("#tesis_val").html('<p>Entregada</p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#validateModal">Validar</button>');
        $("#tesis_val").css('color', 'green');
      } else {
        $("#tesis_val").text('No entregada');
        $("#tesis_val").css('color', 'red');
      }

      
    })
    .fail(function() {

      $(".overlay").fadeOut( "fast" );
      console.log("error");
    })
    
  });


    function handleFileSelect(evt) {

    $(".overlay").fadeIn( "fast" );

    var files = evt.target.files;


    var progress = function(p) {
      var w = ((p * 100).toFixed(0));
    };

    var finished = function(result) {
      
      $(".overlay").fadeOut( "fast" );

      hashResult = result.toString(CryptoJSH.enc.Hex);
      console.log("SHA-256-> " + hashResult);
      $('#hidden_thesis').val(hashResult);
      
      $('#thesis_button').prop("disabled", false);


      
    };

    var reader = new FileReader();
    reader.onload = function(e) {
      var data = e.target.result;
      setTimeout(function() {
        var a = CryptoJSH.SHA256(data, progress, finished);
      }, 200);
    };
    reader.onprogress = function(evt) {
      if (evt.lengthComputable) {
        var w = (((evt.loaded / evt.total) * 100).toFixed(2));
      }
    };
    reader.readAsBinaryString(document.getElementById('thesis').files[0]);
  }


  document.getElementById('thesis').addEventListener('change', handleFileSelect, false);
  

  $('#thesis_button').click(function(event) {
    var student_username = $("#hidden_student").val();
    var thesis_hash = $("#hidden_thesis").val();
    $.ajax({
      url: '/check_thesis/' + student_username + '/' + thesis_hash
    })
    .done(function(data) {
      console.log("success");
      console.log(data);
      if(data['match'] == true) {
        $("#validation_result").text("✓ Coincide");
      } else {
        $("#validation_result").text("✗ No coincide");

      }
    })
    .fail(function() {
      console.log("error");
    })
  });

  $('#validateModal').on('hidden.bs.modal', function () {
    $("#validation_result").text("");
  });

  $('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
    $(this).siblings('.custom-file-label').addClass("selected").html(fileName);
    $("#validation_result").text("");
  });

</script>

{% endblock %}