{% extends "base.html" %}

{% load staticfiles %}

{% block contents %}

<br>
<br>
<h1 class="text-center">Catalog</h1>

<br>
<br>

<div class="container">
  {% if product_types %}
    {% for p in product_types %}
      
      <div class="row justify-content-center align-items-center">
        <div class="col-2">
          <img class="w-100" src="{{ p.img_url }}">
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <div class="row">
            <div class="col">Name: {{ p.name }}</div>
          </div>
          <div class="row">
            <div class="col">Description: {{ p.description }}</div>
          </div>
          <br>
        </div>
        <div class="col-2">
          <form action="{% url 'catalog' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-info">Add to the blockchain</button>
            <input type="hidden" name="product_name" value="{{ p.name }}">
          </form>
        </div>
      </div>
      <hr>
    {% endfor %}
  {% else %}
    <br>
    <p class="text-center">There are no elements in the catalog yet</p>
  {% endif %}
</div>
<br>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-2">
      <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'register_product' %}'">Register new product</button>
    </div>
  </div>
</div>

{% endblock %}