{% extends "base.html" %}

{% load staticfiles %}



{% block contents %}

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h3 class="text-center">My Products</h3>
      <br>
      {% if products %}
        <br>
        {% for p in products %}
          <div class="row product_row">
            <div class="col-4">
              <img class="w-100" src="{{ p.imageUrl }}">
            </div>
            <div class="col-8">
              <div class="row">
                <div class="col-3">ID:</div>
                <div class="col product_row_id">{{ p.assetId }}</div>
              </div>
              <div class="row">
                <div class="col-3">Name:</div>
                <div class="col">{{ p.name }}</div>
              </div>
            </div>
          </div>
          <hr>
        {% endfor %}
      {% else %}
        <br>
        <p class="text-center">You don't own any products yet</p>
      {% endif %}

    </div>
    <div class="col-6">
      <h3 class="text-center">Product detail</h3>
      <br>
      <div class="detail_div disabled_detail">
        <div class="row justify-content-center">
          <div class="col-5" id="product-detail-image">
            
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3">Id:</div>
          <div class="col-3" id="product-detail-id"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3">Name:</div>
          <div class="col-3" id="product-detail-name"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3">Description:</div>
          <div class="col-6" id="product-detail-description"></div>
        </div>
        <br>
        <div class="row" id="owner_div"></div>
        
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col text-center">
          <button type="button" class="btn btn-primary" id="transfer-button" data-toggle="modal" data-target="#transferModal" disabled>Transfer product</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Transfer product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'products' %}" method="post" id="transfer-form">
      <div class="modal-body">
        {% csrf_token %}
        <label>Insert new owner's username <input class="ml-4" type="text" name="new_owner" placeholder="New owner" required=""></label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" id="transfer-submit" class="btn btn-primary">Transfer</button>
      </div>
      </form>
    </div>
  </div>
</div>


<script>
  $("#transfer-form").submit(function(event) {
    $('<input />').attr('type', 'hidden')
    .attr('name', "product_id")
    .attr('value', $("#product-detail-id").text())
    .appendTo('#transfer-form');
    return true;
  });

  $(".product_row").click(function(event) {
    
    product_id = $(this).find(".product_row_id").text();
    console.log("product_id->" + product_id);

    $.ajax({
      url: '/check_product/' + product_id,
      type: 'GET',
    })
    .done(function(data) {
      console.log("success");
      console.log("data");
      $(".disabled_detail").removeClass('disabled_detail');
      $("#transfer-button").prop("disabled", false);

      $("#product-detail-image").html('<img src="' + data['product']['imageUrl'] + '" class="w-100">');
      $("#product-detail-id").text(data['product']['assetId']);
      $("#product-detail-name").text(data['product']['name']);
      $("#product-detail-description").text(data['product']['description']);

      var new_html = ' \
            <div class="col-1"></div> \
            <div class="col-3">Owners:</div> \
            <div class="col-4">';
  
      for (var i = 0; i < data['owners'].length; i++) {
        new_html += '<div class="row mb-2"><div class="col-5">';
        new_html += data['owners'][i]['owner'];
        new_html += '</div><div class="col-7">'
        new_html += data['owners'][i]['timestamp'];
        new_html += '</div></div>'
      }

      new_html += '</div>';
      $("#owner_div").html(new_html);
    })
    .fail(function() {
      console.log("error");
    })
    
  });

</script>


{% endblock %}